.Nav {
    background-color: rgba(240, 248, 255, 0.535);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    border: 5px solid black;
    padding: 8px;
    border-radius: 6px;

}